/****************/ 
/*  CSS styles  */
/****************/

/* Titres */
h3{
	color: 	#007396;
	font-weight: bold;
}


#createAccountText{
	color: 	#007396;
	margin-left: 20px;
}
/* Guide */
.textGuide{
	text-align: justify;
}

/** Navigation menu **/
.nav-link a{
	color: white;
}
.nav-link dropdown-toggle a{
	color: white;
	
}
#login {
	margin-right: 5px;
}
.dropdown-menu {
  min-width:inherit;
}

/* Nav Button */

/* pour enlever le point de la balise <li> et underline de <a> */
.openAccountButton li{
	list-style-type: none;
}
.openAccountButton a{
	text-decoration:none;
}
.btn-primary{
	background-color: #845333 !important;
	border-color: #845333 !important;
	color: white !important;	
	font-weight: bold !important;
	font-size: 16px !important;
	padding: 12px 28px !important; 
}

/* .button{	 */
	/* background-color: #845333; */
	/* color: white;	 */
	/* font-weight: bold; */
	/* font-size: 16px; */
	/* padding: 12px 28px; */
/* } */

button:hover{
	background-color: #845333;
	color: #391a19;
}

#welcome{
	color: #007396;
	font-size: 32px;
	font-weight: bold;
}

#openAccount{
	font-size: 18px;
}
.login{
	background-color: #007396;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 12px 24px;
}
.bankName{
	font-size: 20px;
}
#subTitleCheckTransactions{
	color: 	#007396;
	font-size: 18px;
}
#arrayTitleCheckTransactions{
	font-size: 16px;
}

/** Footer **/
/**#footer {
	width: 100%;
} **/

#dateAndTimeTitle{
	color: 	#007396;
}


