<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="layout/default.html :: headerfiles"></th:block>
<link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}">
</head>
<body>
	<nav th:insert="layout/default.html :: navbar"></nav>
	<div class="container" >
	<br><br><br><br>
	<table style="width:100%">
		<tr>
			<td align="center">
				<div sec:authorize="isAnonymous()">
					<p id="welcome">Bienvenue chez Other Bank !</p><br>
					<p id="openAccount">
					Vous n'êtes pas encore client ?<br><br>
					Ouvrez un compte !
					</p>
					<br>			
					<div class="openAccountButton">
						<li class="nav-item active"><a class="btn btn-primary" th:href="@{/open-account-request}" th:text="#{menu.openAccount}"></a></li>
					</div>
				</div>
			</td>
		</tr>	
	</table>
	<br><br><br>
	<div class="footer" th:insert="layout/default.html :: footer"></div>
	</div>
	<nav th:insert="layout/default.html :: footernavbar"></nav>
	<div th:insert="layout/default.html :: scripts"></div>
</body>
</html>