<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="layout/default.html :: headerfiles"></th:block>
<link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}">
</head>
<body>
	<nav th:insert="layout/default.html :: navbar"></nav>
	<div class="container" sec:authorize="isAuthenticated()">
		<br><br><br><br>
		
		<div th:if="${orderTransferDone}" class="alert alert-info" th:text="#{orderTransfer.done}" id="app">message</div>
		<div th:if="${accountBankNameB}" class="alert alert-info" th:text="${accountBankNameB}">message</div>
		<h3 th:text="#{orderTransfer.account.title}">Order transfer</h3>
		<hr />
		<br>
		<!-- Display account name and bank account -->
		<div th:if="${accountDTO} !=null">
			<div class="bankName" th:text="${accountDTO.bankName} + ' - '+ ${accountDTO.accountName}">Bank name - Account name</div>
		</div>
		<br>
		<form class="form-horizontal" method="post" th:action="@{/order-transfer}" th:object="${amount}" >
			<!-- Account B -->
			<div class="form-group">
				<label for="accountIdB" style="white-space: nowrap;" class="col-sm-2 control-label" th:text="#{orderTransfer.accountIdB}">Recipient account</label>
				<div class="col-sm-5">
					<input  type="text" th:value="${accountIdB}" id="accountIdB" name="accountIdB" class="form-control" />
				</div>
			</div>
			<br>
			<div class="form-group">
				<label for="bankNameB" style="white-space: nowrap;" class="col-sm-2 control-label" th:text="#{orderTransfer.bankNameB}">Bank name</label>
				<div class="col-sm-5">
					<input  type="text" th:value="${bankNameB}" id="bankNameB" name="bankNameB" class="form-control" />
				</div>
			</div>
			<br>
			<!-- Amount -->
			<div class="form-group">
				<label style="white-space: nowrap;" for="amount" class="col-sm-2 control-label" th:text="#{orderTransfer.amount}">Amount</label>
				<div class="col-sm-5">
					<input  type="text" th:value="${amount}" id="amount" name="amount" class="form-control" />
				</div>
			</div>
			<br>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-5">
				  <button type="submit" class="btn btn-primary" th:text="#{transferOrder.validate}">Validate transfer</button>
				</div>
			 </div>
		</form>
		
		<div class="erreur" th:if="${exception}" th:text="${exception}"></div>
		<br>
		<div th:insert="layout/default.html :: footer"></div>
	</div>
	<br><br><br>
	<nav th:insert="layout/default.html :: footernavbar"></nav>
	<div th:insert="layout/default.html :: scripts"></div>
</body>
</html>